.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}

.content {
    height: 100%;
    width: 85%;
}

.dy {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mDy {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dy img {
    width: 8.125rem;
    margin-right: 2rem;
}

.mDy img {
    width: 5.125rem;
}

.mail {
    width: 1rem;
}

.instaImg {
    width: 1rem;
    margin-right: 5px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    font-family: AppleSDGothicNeoM;
}

.name span:first-child {
    margin-bottom: 0.3125rem;
}

.intro {
    margin-bottom: 1.25rem;
}

.contact {
    display: flex;
    margin-bottom: 1.25rem;
    height: 100%;
}

.mContact {
    display: flex;
    margin-bottom: 1.25rem;
    height: 100%;
    font-size: 10px;
}

.insta {
    display: flex;
    align-items: center;
}

.insta div {
    margin-left: 0.3125rem;
}

.contact__container {
    margin-left: 0.625rem;
}

.mail__container {
    margin-bottom: 1.25rem;
}
