.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.25rem;
    width: 100%;
}

.carousel {
    width: 56.25rem;
    height: 40.0625rem;
}

.img {
    width: 56.25rem;
    height: 37.5rem;
    object-fit: contain;
}

.blur {
    filter: blur(1rem);
}

.mWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.25rem;
    width: 100%;
}

.mCarousel {
    width: 100%;
    height: auto;
}

.mImg {
    width: 100%;
    object-fit: contain;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.mPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13rem;
    margin-top: 1.8rem;
}

.pageText {
    font-family: "AppleSDGothicNeoM";
}
