.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #000;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
}

.board {
    width: 10rem;
    height: 10rem;
    position: absolute;
}

.logo {
    width: 9.6rem;
}

.headerImg {
    width: 10.6rem;
    margin-top: 0.625rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.popupWrapper {
    position: relative;
}

.popupWrapper:hover .popup {
    display: block;
}

.back {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: aqua;
    width: 12.5rem;
    height: 6.25rem;
}

.mHeader img {
    width: 8rem;
    background-color: #000;
}
